name: Build and Push n8n

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          # اكتب اسم المستخدم هنا يدوياً لضمان عدم حدوث خطأ
          username: Kamalelmiloudi3
          # تأكد أن هذا السر يحتوي على الـ Access Token الصحيح (Read & Write)
          password: dckr_pat_GhymRHjVG6J9b_K9oP5c-GMK0Fc

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: Kamalelmiloudi3/n8n-custom:latest
          
