name: Build and Push n8n

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          # سيجلب الاسم Kamalelmiloudi3 من الـ Secrets تلقائياً
          username: ${{ secrets.DOCKER_USERNAME }}
          # سيجلب المفتاح dckr_pat_... من الـ Secrets تلقائياً
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # سيتم رفع الصورة باسم: kamalelmiloudi3/n8n-custom:latest
          tags: ${{ secrets.DOCKER_USERNAME }}/n8n-custom:latest
          
